.editor-wrapper {
    position: relative;
    height: 100%;
}

.editor-wrapper .format-button {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    z-index: 9999;
    transition: opacity 0.3s;
}

.editor-wrapper:hover .format-button {
    opacity: 1;
}